#main {
  width: 100vw;
}
#overview {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}
#indexes, #pipelines {
  min-width: 450px;
}

@media (max-width: 900px) {
  #overview {
    display: block;
  }
  #indexes, #pipelines {}
}
