.pipeline-step-data-resources-list {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pipeline-step-data-resource-details {
    margin: 0 !important;
}

.pipeline-step-data-resource-details-summary {
    display: flex !important;
    align-items: center !important;
    width: 100%;
}

.pipeline-step-data-resource-details-summary-text {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: auto;
}

.pipeline-step-data-resource-details-chip {
    font-weight: bold;
    color: white !important;
    margin-right: 1em;
}

.pipeline-step-data-resource-details-chip-succeeded {
    background-color: var(--success) !important;
}

.pipeline-step-data-resource-details-chip-failed {
    background-color: var(--error) !important;
}
.pipeline-step-data-resource-details-chip-running {
    background-color: var(--running) !important;
}
.pipeline-step-data-resource-details-chip-queued {
    background-color: var(--queued) !important;
}
.pipeline-step-data-resource-details-chip-skipped {
    background-color: var(--skipped) !important;
}

.pipeline-step-data-resource-details-details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.875rem;

    h4 {
        margin-top: 0;
    }
}

.pipeline-step-data-resource-details-button {
    width: 100%;
}

.pipeline-step-data-resource-details-failure-reason {
    font-weight: bold;
}

.pipeline-step-data-resource-details-failure-message {
    font-weight: bold;
}
