.pipeline-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pipeline-header-times {
    display: flex;
    align-items: center;
    gap: 1em;
}

.pipeline-header-times-started-at {
    width: 12em;
}

.pipeline-header-times-duration {
    width: 8em;
}

.pipeline-header-time-icon {
    margin-right: 0.25em;
    vertical-align: middle;
}

.pipeline-header-link {
    color: var(--mui-palette-primary-main);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: var(--mui-palette-primary-light);
    }
}

.pipeline-header-status-chip {
    width: 8em;
}
