.pipeline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    --success: var(--mui-palette-success-light);
    --error: var(--mui-palette-error-light);
    --running: var(--mui-palette-primary-light);
    --skipped: var(--mui-palette-success-dark);
    --queued: #999;
}

.pipeline-details {
    flex: 1;
    min-width: 400px;
    margin: 0 2em;
}

.pipeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pipeline-step-data-resources {
    flex: 1;
    min-width: 400px;
    margin: 0 2em;
}

.pipeline-step-data-resources-header {
    display: flex;
    align-items: center;
    margin: 0 0 0.5em 0;
}

.pipeline-step-data-resources-header-count {
    font-size: 0.6em;
    color: white;

    display: inline-block;
    background-color: var(--mui-palette-secondary-light);

    border-radius: 50%;
    border: 0.3em solid var(--mui-palette-secondary-light);
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    text-align: center;

    position: relative;
    top: -1em;
}

.pipeline-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}
