general:
  attempt: 0
  hdfsSiteConfig: /etc/hadoop/conf/hdfs-site.xml
  coreSiteConfig: /etc/hadoop/conf/core-site.xml
  tempLocation: '/tmp/pipelines'
  targetPath: '{fsPath}/pipelines-data'

alaNameMatch:
  wsUrl: http://namematching-service.vbp.internal:9179
  timeoutSec: 5
  retryConfig:
    maxAttempts: 5
    initialIntervalMillis: 1000
collectory:
  wsUrl: http://collectory.vbp.internal:8080/collectory/ws/
  timeoutSec: 5
  retryConfig:
    maxAttempts: 5
    initialIntervalMillis: 1000
  httpHeaders:
    Authorization: ${APIKEY}
    apiKey: ${APIKEY}
imageService:
  wsUrl: http://image-service.vbp.internal:8080/image-service/
  timeoutSec: 5
  httpHeaders:
    apiKey: ${APIKEY}
  retryConfig:
    maxAttempts: 5
    initialIntervalMillis: 1000
speciesListService:
  wsUrl: http://species-list.vbp.internal:8080/species-list/
  timeoutSec: 5
  retryConfig:
    maxAttempts: 5
    initialIntervalMillis: 1000
samplingService:
  wsUrl: http://spatial-service.vbp.internal:8080/spatial-service/
  timeoutSec: 10
  batchSize: 10000
  batchStatusSleepTime: 1000
  downloadRetries: 5
  retryConfig:
    maxAttempts: 5
    initialIntervalMillis: 1000
geocodeConfig:
  country:
    path: /opt/inbo/pipelines/shp-layers/political
    field: ISO_A2
    intersectBuffer: 0.135
    intersectMapping:
      CX: AU
      CC: AU
      HM: AU
      NF: AU
  eez:
    path: /opt/inbo/pipelines/shp-layers/eez
    field: ISO2
    intersectBuffer: 0.135
  stateProvince:
    path: /opt/inbo/pipelines/shp-layers/cw_state_poly
    field: FEATURE
    intersectBuffer: 0
  biome:
    path: /opt/inbo/pipelines/shp-layers/gadm0
    field: FEATURE

gbifConfig:
  extensionsAllowedForVerbatimSet:
    - http://rs.tdwg.org/ac/terms/Multimedia
    - http://data.ggbn.org/schemas/ggbn/terms/Amplification
    - http://data.ggbn.org/schemas/ggbn/terms/Cloning
    - http://data.ggbn.org/schemas/ggbn/terms/GelImage
    - http://data.ggbn.org/schemas/ggbn/terms/Loan
    - http://data.ggbn.org/schemas/ggbn/terms/MaterialSample
    - http://data.ggbn.org/schemas/ggbn/terms/Permit
    - http://data.ggbn.org/schemas/ggbn/terms/Preparation
    - http://data.ggbn.org/schemas/ggbn/terms/Preservation
    - http://rs.iobis.org/obis/terms/ExtendedMeasurementOrFact
    - http://rs.tdwg.org/chrono/terms/ChronometricAge
    - http://purl.org/germplasm/germplasmTerm#GermplasmAccession
    - http://purl.org/germplasm/germplasmTerm#MeasurementScore
    - http://purl.org/germplasm/germplasmTerm#MeasurementTrait
    - http://purl.org/germplasm/germplasmTerm#MeasurementTrial
    - http://rs.tdwg.org/dwc/terms/Identification
    - http://rs.tdwg.org/dwc/terms/Occurrence
    - http://rs.gbif.org/terms/1.0/Identifier
    - http://rs.gbif.org/terms/1.0/Image
    - http://rs.tdwg.org/dwc/terms/MeasurementOrFact
    - http://rs.gbif.org/terms/1.0/Multimedia
    - http://rs.gbif.org/terms/1.0/Reference
    - http://rs.tdwg.org/dwc/terms/ResourceRelationship
    - http://rs.gbif.org/terms/1.0/DNADerivedData
    - http://ala.org.au/terms/seedbank/0.1/SeedbankRecord
  vocabularyConfig:
    vocabulariesPath: /opt/inbo/pipelines/pipelines-vocabularies/
    vocabulariesNames:
      http://rs.tdwg.org/dwc/terms/degreeOfEstablishment: DegreeOfEstablishment
      http://rs.tdwg.org/dwc/terms/lifeStage: LifeStage
      http://rs.tdwg.org/dwc/terms/establishmentMeans: EstablishmentMeans
      http://rs.tdwg.org/dwc/terms/pathway: Pathway

alaNameMatchConfig:
  matchOnTaxonID: false

# As PipelineOptions does not admits extra arguments, we use this comma separated list of --args to remove it after
# use it. In the case of fsPath be substitute 'hdfs:///pipelines-data' with fs.hdfs.fsPath if hdfs is selected in
# fs.platform or '/data' if 'local' is selected.
pipelineExcludeArgs: fsPath

# class: au.org.ala.pipelines.beam.ALADwcaToVerbatimPipeline
dwca-avro:
  runner: SparkRunner
  inputPath: '/data/dwca/{datasetId}.zip'
  tempLocation: /tmp/pipelines/{datasetId}/tmp/

# class: au.org.ala.pipelines.beam.ALAVerbatimToInterpretedPipeline
interpret:
  appName: Interpretation for {datasetId}
  interpretationTypes: ALL
  defaultDateFormat: DMYT,DMY
  inputPath: '{fsPath}/pipelines-data/{datasetId}/0/verbatim/*.avro'
  # Skips GBIF id generation and copies ids from ExtendedRecord ids
  useExtendedRecordId: true
  runner: SparkRunner
  eventsEnabled: true

# class: au.org.ala.pipelines.beam.ALAUUIDMintingPipeline
uuid:
  appName: UUID minting for {datasetId}
  runner: SparkRunner
  numberOfBackupsToKeep: 10
  percentageChangeAllowed: 50
  throwErrorOnValidationFail: false
  inputPath: '{fsPath}/pipelines-data'

images:
  appName: Image syncing for {datasetId}
  runner: SparkRunner  # pipe separated list (note: YAML list not coming through correctly)
  recognisedPaths: "https://natuurdata.dev.inbo.be/images"
  inputPath: '{fsPath}/pipelines-data'

speciesLists:
  runner: SparkRunner
  speciesAggregatesPath: '{fsPath}/pipelines-species'
  maxDownloadAgeInMinutes: 1440
  includeConservationStatus: true
  includeInvasiveStatus: true
  inputPath: '{fsPath}/pipelines-data'

# Sampling specific configuration
sampling:
  appName: Sample for {datasetId}
  runner: SparkRunner
  inputPath: '{fsPath}/pipelines-data'
  allDatasetsInputPath: '{fsPath}/pipelines-all-datasets'

# Calculate distance to the expert distribution layers
# class:au.org.ala.pipelines.beam.DistributionOutlierPipeline
outlier:
  appName: Expert distribution outliers for {datasetId}
  baseUrl: https://spatial-service.vbp.internal:8080/spatial-service/
  targetPath: '{fsPath}/pipelines-outlier'
  runner: SparkRunner
  allDatasetsInputPath: '{fsPath}/pipelines-all-datasets'

annotation:
  runner: SparkRunner
  inputPath: '{fsPath}/pipelines-annotations'
  targetPath: '{fsPath}/pipelines-annotations'

# class: au.org.ala.pipelines.beam.ALAInterpretedToSensitivePipeline
sensitive:
  appName: Sensitive Data Processing for {datasetId}
  runner: SparkRunner
  inputPath: '{fsPath}/pipelines-data'

# class: au.org.ala.pipelines.java.IndexRecordPipeline
index:
  appName: IndexRecord generation for {datasetId}
  includeImages: true
  includeSpeciesLists: true
  includeSensitiveDataChecks: false
  runner: SparkRunner
  inputPath: '{fsPath}/pipelines-data'
  allDatasetsInputPath: '{fsPath}/pipelines-all-datasets'

# class: au.org.ala.pipelines.beam.IndexRecordToSolrPipeline
solr:
  appName: SOLR indexing for {datasetId}
  inputPath: '{fsPath}/pipelines-data'
  allDatasetsInputPath: '{fsPath}/pipelines-all-datasets'
  jackKnifePath: '{fsPath}/pipelines-jackknife'
  clusteringPath: '{fsPath}/pipelines-clustering'
  outlierPath: '{fsPath}/pipelines-outlier'
  annotationsPath: '{fsPath}/pipelines-annotations'
  solrCollection: biocache
  includeSampling: true
  includeJackKnife: false
  includeClustering: false
  runner: SparkRunner
  zkHost: solr.vbp.internal:9983
  numOfPartitions: 12

# class: au.org.ala.pipelines.beam.IndexRecordToSolrPipeline
elastic:
  appName: Elastic indexing for {datasetId}
  runner: SparkRunner
  esHosts: http://elasticsearch.vbp.internal:9200
  esAlias: event
  esIndexName: 'event_{datasetId}'
  indexNumberShards: 12
  indexNumberReplicas: 0
  metaFileName: elastic.yml
  esDocumentId: internalId
  inputPath: '{fsPath}/pipelines-data'
  targetPath: '{fsPath}/pipelines-data'


export:
  appName: DwCA export for {datasetId}
  localExportPath: /tmp/pipelines-export
  imageServicePath: "https://images.biodiversiteitsportaal/image/proxyImageThumbnailLarge?imageId={0}"
  runner: SparkRunner
  predicateExportEnabled: true

predicate-export:
  targetPath: '{fsPath}/pipelines-export'
  localExportPath: /tmp/pipelines-export
  skipEventExportFields:
    - "id"
    - "parentId"
    - "created"
    - "hasGeospatialIssue"
    - "hasCoordinate"
    - "repatriated"
    - "coreId"
  skipOccurrenceExportFields:
    - "id"
    - "parentId"
    - "created"
    - "hasGeospatialIssue"
    - "hasCoordinate"
    - "repatriated"
    - "coreId"

# class: au.org.ala.pipelines.beam.IndexRecordToSolrPipeline
solrSchema:
  appName: SOLR Schema Sync

# JackKnife specific configuration
# class: au.org.ala.pipelines.beam.ALAReverseJackKnifePipeline
jackKnife:
  appName: Jack knife outlier detection
  jackKnifePath: '{fsPath}/pipelines-jackknife'
  layers: cl10001,cl10000,cl10002
  minSampleThreshold: 80
  runner: SparkRunner

clustering:
  appName: Occurrence clustering
  clusteringPath: '{fsPath}/pipelines-clustering'
  runner: SparkRunner

# class: DumpArchiveList
dataset-archive-list:
  inputPath: '{fsPath}/dwca-imports'
  targetPath: /tmp/dataset-archive-list.csv

# class: au.org.ala.utils.DumpDatasetSize
dataset-count-dump:
  targetPath: /tmp/dataset-counts.csv
  dwcaImportPath: '{fsPath}/dwca-imports'

validation-report:
  targetPath: /tmp/dataset-validation-list.csv
  fullReportPath: /tmp/full-validation-list.csv
  zkHost: solr.vbp.internal:9983
  checkSolr: true
  checkSampling: true
  solrCollection: biocache
